services:
  ansible_target:
    build:
      context: .
      dockerfile: Dockerfile.ansible
    image: "ansible_target:latest"
    container_name: "ansible_target"
    privileged: true
    restart: "unless-stopped"

    environment:
      - "USER_NAME=ansible"
      - "USER_PASSWORD=securepass"

    ports:
      - "2222:22"

    networks:
      - "ansible_net"

    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:rw"

networks:
  ansible_net:
    name: "ansible_net"
    driver: bridge
